.App {
  background: url("/src/assets/WallPapers/Hossein.jpg") no-repeat center center
    fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
}

.MetroUi-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.MetroMetroUi-Header {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
