@font-face {
  font-family: "IranFontSemiBold";
  src: url("/src/assets/Fonts/IRAN_SemiBold.woff2") format("woff2"),
    url("/src/assets/Fonts/IRAN_SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "IranFontRegular";
  src: url("/src/assets/Fonts/IRAN.woff2") format("woff2"),
    url("/src/assets/Fonts/IRAN.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: "IranFontRegular", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

h1 {
  font-family: "IranFontSemiBold", sans-serif;
  font-size: 2rem;
  line-height: 1.2;
}

p {
  font-family: "IranFontRegular", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
